.wrapper {
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    font-size: 18px;
}

.form-weight {
    width:50px;
}

._transparent {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

._make-yellow {
    color:yellow;
}
._add-underline {
    text-decoration: underline;
}

.event-title {
    background-color: #B7B4B4;
    font-size: 16px;
    padding: 8px;
}