body {
    background-color:white;
    padding-top: 56px;
}

/*ナビバー*/
.navbar{
    background-color: #F43E43!important;
    color: #F43E43!important;

}
.navbar a{
    color: white!important;
}

.fc-button-primary {
    color: black!important;
    background-color: white!important;
    border-color: black!important;
    width: 50px;
}

.fc-button{
    padding: 2px!important;
}

.wrapper {
    font-size: 18px;
}

.workouts-index{
    /*background-color: #c8c8c8;*/
    min-height: calc(100vh - 296.5px);
}

.program-title {
    background-color: #454545;
    color: white;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
}

.card{
    background-color: #454545!important;
    color: white;
}

.card-title{
    color: white;
}

.program-memo{
    color: #454545;
}

.forms{
    display: flex;
}

.active .page-link {
    background-color: #454545!important;
}

.remodal-btn{
    width: 250px;
    height: 60px;
    color: white!important;
    margin: 5px;
}


.register-btn{
    background-color: #454545!important;
    color: white!important;
}
.register-btn a{
    color: white!important;
}
.login-btn{
    background-color: #F43E43!important;
    color: white!important;
}

.auth-title{
    font-size: 25px;
    text-align:center;
    margin-bottom: 10px;
}

.radio-muscle {
    margin-left: 20px;
}

