body {
    background-color:white;
    padding-top: 56px;
}

/*ナビバー*/
.navbar{
    background-color: #F43E43!important;
    color: #F43E43!important;

}
.navbar a{
    color: white!important;
}

/*モーダル*/
.remodal {
    font-size: 18px;
}

.fc-button-primary {
    color: black!important;
    background-color: white!important;
    border-color: black!important;
    width: 50px;
}

.fc-button{
    padding: 2px!important;
}

.wrapper {
    font-size: 18px;
}

#calendar {
    font-size: 14px;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0px;
    background-color: #454545;
}

.fc-right {
    padding: 10px;
}

.fc-left {
    padding: 4px;
    color: white;
}

.fc-today{
    background-color: #f5f5f5!important;
}

.form-weight {
    width:50px;
}

._make-yellow {
    color:yellow;
}
._add-underline {
    text-decoration: underline;
}

.workouts-index{
    /*background-color: #c8c8c8;*/
    min-height: calc(100vh - 296.5px);
}

.program-title {
    background-color: #454545;
    color: white;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
}

.card{
    background-color: #454545!important;
    color: white;
}

.card-title{
    color: white;
}

.this-workout {
    width: 45%;
    float: left;
    margin: 2px 2px 2px 6px;
}
.previous-workout {
    width: 45%;
    float: left;
    margin: 2px 2px 2px 6px;
}
.exercise-workout {
    width: 45%;
    float: left;
    margin: 2px 2px 2px 6px;
}

.program-memo{
    color: #454545;
}

.fa-trash{
    color: #454545;
}

.ol-workout {
    counter-reset: my-counter;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ol-workout li {
    line-height: 1.5;
    padding-left: 30px;
    position: relative;
}
.this-workout:before  {
    content: counter(my-counter);
    counter-increment: my-counter;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    color: white;
    font-size: 70%;
    line-height: 1;
    position: absolute;
    top: 3.5px;
    left: 0px;
}

.previous-workout:before  {
    content: counter(my-counter);
    counter-increment: my-counter;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    color: #ffffff;
    font-size: 70%;
    line-height: 1;
    position: absolute;
    top: 3.5px;
    left: 0px;
}

.exercise-workout:before {
    content: counter(my-counter);
    counter-increment: my-counter;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    color: #ffffff;
    font-size: 70%;
    line-height: 1;
    position: absolute;
    top: 3.5px;
    left: 0px;
}

.add-workout-btn{
    color: white!important;
    margin-left: 20px;
    background-color: #454545!important;
}

.add-workout-btn[disabled] {
    background-color: #c8c8c8!important;
    opacity: 1!important;
}

.add-workout-form-box{
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    z-index:11;
    background-color: white;
}

.forms{
    display: flex;
}

.active .page-link {
    background-color: #454545!important;
}

.remodal-btn{
    width: 250px;
    height: 60px;
    color: white!important;
    margin: 5px;
}

.store-program-btn{
    background-color: #F43E43;
}
.store-program-btn[disabled] {
    opacity: 0.5!important;
}
.on-max-workout-btn{
    background-color: #F43E43;
}
.off-max-workout-btn{
    background-color: #454545;
}
.delete-workout-btn{
    background-color: #c8c8c8;
}
.register-btn{
    background-color: #454545!important;
    color: white!important;
}
.register-btn a{
    color: white!important;
}
.login-btn{
    background-color: #F43E43!important;
    color: white!important;
}

.auth-title{
    font-size: 25px;
    text-align:center;
    margin-bottom: 10px;
}

.routines{
    min-height: 44px;
}
.not-routines{
    min-height: 44px;
}

.ui-sortable-handle{
    margin: 5px;
    padding: 5px;
    background-color: #454545;
}

.ui-sortable-handle span{
    color:white;
}
.ui-sortable-handle a{
    color:white;
    float: right;
    /*margin-right: 20px;*/
    width: 30px;
}

.placeholder {
    background-color: #c8c8c8;
    height: 34px;
    margin: 5px;
}

.radio-muscle {
    margin-left: 20px;
}
/*-- iPhone Vertical View--*/

@media screen and (max-width: 480px) {

    .fc-event {
        font-size: 10px !important;/*--event title font size--*/
        /*margin-bottom: 4px;!*--　帯の隙間 event clearance--*!*/
    }

    .fc-day-number{
        font-size: 12px;
    }

    /*-- ヘッダ　ツールバー --*/
    .fc-header-toolbar{
        position: -webkit-sticky;
        position: sticky;
        top: 54.22px;
        z-index:10;
        background-color:#e9e9e9;/*--背景色--*/
    }
    .fc-center h2{ /*-- 年月表示 --*/
        /*margin-top:10px;*/
    }
    /*-- カレンダーヘッダ Sun to Sat --*/
    .fc-head{
        position: -webkit-sticky;
        position: sticky;
        top: calc(47.05px + 54.22px);
        z-index:11;
        background-color:#c8c8c8;/*--背景色--*/
        color: #454545;
    }
}
